[Unit]
Description=Vocalyx Transcription Worker
#After=network-online.target

[Container]
Image=localhost/vocalyx-transcribe:latest
ContainerName=vocalyx-transcribe
Network=vocalyx-network

# Variables spécifiques
Environment=INSTANCE_NAME=worker
Environment=VOCALYX_API_URL=http://vocalyx-haproxy:8100
Environment=CELERY_BROKER_URL=redis://vocalyx-redis:6379/0
Environment=CELERY_RESULT_BACKEND=redis://vocalyx-redis:6379/0
Environment=WHISPER_MODEL=./models/transcribe/openai-whisper-small
Environment=WHISPER_DEVICE=cpu
Environment=WHISPER_COMPUTE_TYPE=int8
Environment=WHISPER_LANGUAGE=fr
Environment=MAX_WORKERS=2
Environment=VAD_ENABLED=true
Environment=UPLOAD_DIR=/app/shared_uploads
Environment=LOG_LEVEL=INFO
Environment=LOG_FILE_PATH=/app/logs/vocalyx-transcribe.log

# Volumes
Volume=/opt/vocalyx/shared/uploads:/app/shared_uploads:Z
Volume=/opt/vocalyx/shared/models/transcribe:/app/models/transcribe:Z
Volume=/opt/vocalyx/shared/logs:/app/logs:Z

# Limites (CPUQuota 400% = 4 coeurs)
#CPUQuota=1600%
#Memory=128G

# Commande de démarrage complexe
Exec=celery -A worker.celery_app worker --loglevel=info --concurrency=1 --without-gossip --without-mingle -Q transcription

[Service]
Restart=always